/* Based on and using code examples from:
    https://www.w3schools.com/css/css_rwd_grid.asp
and
    https://www.w3schools.com/howto/howto_css_equal_height.asp
*/

* {
  box-sizing: border-box;
}
html {
  font-family: "Lucida Sans", sans-serif;
  text-align: center;
}
div{
  max-height:100%;
}
html, body {
  width: 100%;
  margin:0;
  padding:0;
}

br{
  line-height: 100%;
}
table{
  font-size: 12pt;
}

/*Dividing up the HTML screens:) */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 {

   width: 100%;
 }
.span_2_of_3 {

  width: 66.13%;
}
.span_1_of_3 {

  width: 32.26%;
}



#login-Fields{
  width: 66.13%;
}

#login-Controls{
  margin: auto;
}

#newUserFields {
  visibility: inherit;
}

#newUserControls {
  visibility: inherit;
}


.NavPanel {
    background-color: #9933cc;
    padding: 15px;
    margin: 0px;
    width: auto;

    height:auto;
}

#newAccountSection {

  border: 4px solid black;
  background-color: #9933cc;
}

.header {
    background-color: #9933cc;
    color: #9933cc;
    padding: 15px;
    margin: 0px;
    width: auto;
}
.boxborder {
    border: 1px solid black;
}


.full-width {
  width:100%;
}


.link{
  text-decoration: underline;
  color: white;
}


/* Link Styling: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link*/
a.button {
    text-decoration: none;
    color: initial;
}

#loginViewButton{
  background-color: #9933cc;
}
#garageViewButton{
  background-color: #9933cc;
}
#advancedViewButton{
  background-color: #9933cc;
}


/*
Custom button wrapper for what are actually
clickable links
*/

.testButton{
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    max-width: inherit;
    width: 100%;
    padding: 1.5%;
    background: lightgrey;
    border: 1px solid #000;
    box-sizing: inherit;
    visibility: inherit;
}


.masonPic{
  width: 100%;
  height: 100%;
  background: url('./resources/pictures/DoorCloseDark.png') center / cover;

}


/*Settings to make inputFields prettier*/
.inputField{
  /*font-size-adjust: 0.5;
  letter-spacing: 0.5;
  text-align: left;
  */
  visibility: inherit;
  margin: 3%;

}

::placeholder{
  text-overflow: ellipsis;
}

.input{
  font-size-adjust: 0.5;
  letter-spacing: 0.5pt;
  text-align: left;
  margin: 5%;
}
